<div class="card-row-wrapper px-4 py-6">
  <div class="card-row flex gap-6 justify-content-center flex-wrap">
    @for (feature of features; track feature.name) {
      <p-card class="custom-card full-bg-card">
        <div
          class="card-background"
          [ngStyle]="{ 'background-image': 'url(' + feature.image + ')' }"
        ></div>
        <div class="card-overlay">
          <div class="card-body">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.text }}</p>
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
