<div class="flex flex-column align-items-center">
  <h1 class="my-5">COMING SOON</h1>

  <div class="flex gap-6">
    @for (feature of features; track feature.name) {
      <p-card class="full-bg-card">
        <div
          class="card-background"
          [ngStyle]="{ 'background-image': 'url(' + feature.image + ')' }"
        ></div>
        <div class="card-overlay">
          <div class="card-body">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.text }}</p>
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
